package {{ package }};

import com.deliveredtechnologies.rulebook.annotation.*;

{% for import in imports %}
    import {{ import }};
{% endfor %}

@Rule(name = "{{ ruleName }}")
public class {{ className }} {
{% for field in fields %}
    {{ field }};
{% endfor %}

    @When
    public boolean when() {
        return {{ lhs }};
    }

    @Then
    public void then() {
        {{ rhs }};
    }
}
